@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AvenueJS</title>
</head>
<body>
    <h1>AvenueJS</h1>
	<p>First page!</p>
</body>
</html>
